@using webOglasnik.Misc
@using webOglasnik.Controllers
@model IEnumerable<webOglasnik.Models.Kategorija>

@{
    ViewBag.Title = "Kategorije";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kategorije</h2>
@if(User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
{
    <p>
        @Html.ActionLink("Dodaj kategoriju", "Create", "", new { @class = "btn btn-dark" })
    </p>    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
            @Html.ActionLink("Vidi", "Index", "Oglas", new { kategorija = item.Sifra }, new { @class = "btn btn-dark" })
        </td>
        @if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
        {
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id = item.Sifra }, new { @class = "btn btn-dark" })
                @Html.ActionLink("Izbriši", "Delete", new { id = item.Sifra }, new { @class = "btn btn-dark" })
            </td>
        }

    </tr>
}

</table>
