@using webOglasnik.Models
@model List<Korisnik>
@{
    ViewBag.Title = "Popis korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Korisničko ime</th>
            <th>Email</th>
            <th>Prezime i ime</th>
            <th>Ovlast</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var k in Model)
        {
            <tr>
                <td>@k.KorisnickoIme</td>
                <td>@k.Email</td>
                <td>@k.PrezimeIme</td>
                <td>@(k.Ovlast?.Naziv)</td>
            </tr>
        }
    </tbody>
</table>