@model webOglasnik.Models.KorisnikPrijava
@{
    ViewBag.Title = "Prijava korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Prijava", "Korisnici",
    new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.KorisnickoIme, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-mld-10">
                @Html.EditorFor(model => model.KorisnickoIme, new { htmlAtributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Lozinka, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-mld-10">
                @Html.EditorFor(model => model.Lozinka, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-dark">
                    Prijava
                </button>
            </div>
        </div>
    </div>
}