@model webOglasnik.Models.Oglas

@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <h4>Detalji</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OglasKategorija.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OglasKategorija.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumObjave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumObjave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrajeDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrajeDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>

    </dl>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-dark" }) 
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-dark" })
</div>
