@using webOglasnik.Misc
@model webOglasnik.Models.Oglas

@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <h4>Detalji</h4>
    <hr />
    @if (!String.IsNullOrWhiteSpace(Model.SlikaPutanja))
    {
        <div class="row">
            <div class="col-sm-offset-2 col-md-10">
                <img src="@Url.Content(Model.SlikaPutanja)" width="250" height="250"/>
            </div>
        </div>
    }

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Naziv)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Naziv)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OglasKategorija.Naziv)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OglasKategorija.Naziv)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Opis)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Opis)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Korisnik)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Korisnik)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DatumObjave)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DatumObjave)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.TrajeDo)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.TrajeDo)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Cijena)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Cijena)
    </dd>

</dl>
</div>

<div>
    @if (User.Identity.IsAuthenticated && ((User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator) || (User as LogiraniKorisnik).KorisnickoIme == Model.Korisnik))
    {
        @Html.ActionLink("Uredi", "Edit", new { id = Model.Id }, new { @class = "btn btn-dark" })
    }
    @Html.ActionLink("Povratak na popis", "Index", "", new { @class = "btn btn-dark" })
</div>
